@model ProvaDjalma.Models.Usuario

@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>


@*CARREGA DA VIEW PARCIAL*@

@Html.Partial("_FrmUsuario")



<p>
    <br />
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
</p>
