@model ProvaDjalma.Models.Produto

@{
    ViewBag.Title = "Novo produto";
}

<h2>Novo Produto</h2>

@using (Html.BeginForm("SalvarProduto", "Produto", FormMethod.Post))
{
    <div class="form-horizontal">
        <hr />

        <!-- Partial view for common form elements -->
        @Html.Partial("_FrmProduto")

        <br />

        <div class="form-group">
            <br />
            <div class="form-actions no-color">
                <input type="submit" value="Salvar" class="btn btn-success" />
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}
