@model ProvaDjalma.Models.Marca

@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar Marca</h2>

@*CARREGA DA VIEW PARCIAL PARA MARCA, ADAPTE CONFORME NECESSÁRIO*@
@Html.Partial("_FrmMarca", Model)

<p>
    <br />
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
</p>
